.size {
    max-width:1000px;
    padding:15px;
}

.thumbnail {
    max-height: 100px;
    max-width: 100px;
    float: left;
    margin-right:15px;
}

.offer-height{
    height: 100px;
}

.index-offer-date{
    margin-left:10px;
    font-size: 10px;
    color:darkgrey;
}

.error-alert{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.loading{
    background: url('http://sierrafire.cr.usgs.gov/images/loading.gif') no-repeat;
    background-size: 100px;
    background-position: center;
}
